<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Shop</title>
    <link rel="stylesheet" href="../../css/styless.css">
</head>
<body>
    <header>
    <input type="checkbox" id="menu-toggle">

    <div class="menu">
        <label for="menu-toggle">
            <img src="../../assets/image/menu.png" alt="Menú" class="icono-menu">
            <span>Menú</span>
        </label>
    </div>

    <div class="logo">
    <a href="../../index.html">
        <img src="../../assets/image/logo.png" alt="logo">
    </a>
    </div>

    <div class="acciones">
        <div class="accion">
            <img src="../../assets/image/reloj.png" alt="Horario">
            <span><a href="horarios.html">Horarios</a></span>
        </div>
        <div class="accion">
            <img src="../../assets/image/login.png" alt="Iniciar Sesión">
            <span><a href="login.html">Iniciar Sesion</a></span>
        </div>
    </div>

    <div class="menu-desplegable">
        <label for="menu-toggle" class="close-btn">✕ Cerrar</label>

        <div class="menu-contenido">
            <div class="columna">
                <h4>Otros</h4>
                <a href="../../index.html">Home</a> 
                <a href="eventos.html">Eventos</a> 
                <a href="servicios.html">Servicios</a> 
                <a href="blog.html">Blog</a> 
                <a href="contacto.html">Contacto</a> 
            </div>

            <div class="columna">
                <h4>Shop</h4>
                <a href="directoriodetiendas.html">Directorio de tiendas</a> 
                <a href="beneficios.html">Beneficios & Promociones</a> 
                <a href="nosotros.html">Nosotros</a>
            </div>

            <div class="columna">
                <h4>Dine</h4>
                <a href="restaurantes.html">Restaurantes</a>
            </div>

            <div class="columna">
                <h4>Play</h4>
                <a href="entretenimiento.html">Entretenimiento</a>
            </div>
        </div>
    </div>
</header>
        <main class="beneficios">
        <section class="inicio2">
                <video autoplay loop muted playsinline class="video-fondo">
                    <source src="../../assets/video/beneficios.mp4" type="video/mp4">
                </video>

                <div class="overlay">
                    <h2>CUPONERA</h2>
                    <p>¡Tenemos las mejores ofertas para ti!</p>
                </div>
        </section>
        <section class="grid-tiendas">

        <article class="oferta">
            <img src="../../assets/image/sanmartin.png" alt="Kiosco de Información">
            <div class="contenido-tienda2">
                <h3>CUPONERA</h3>
                <p class="categoria2">2X1 EN DESAYUNOS COMPLETOS 2X1 EN CAFÉ FRIO 12 onz 20% DE DESCUENTO EN PINSA INDIVIDUAL 
                    • CROISSANT ROLL a Q17.00 •DESCUENTOS ESPE...</p>
                <div class="botones-tienda">
                    <a href="#" class="btn-outline">Ver Mas</a>
                </div>
            </div>
        </article>
        </section>
        </main>
        <footer>
        <div class="footer-contenedor">
            <!-- Columna 1 -->
            <div class="footer-logo">
            <img src="../../assets/image/logo2.png" alt="logo">
            <p>Suscríbete y entérate de nuestras promociones.</p>
            <button>Suscribirse</button>
            </div>

            <!-- Columna 2 -->
            <div class="footer-links">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="directoriodetiendas.html">Directorio de tiendas</a></li>
                <li><a href="beneficios.html">Beneficios</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="servicios.html">Servicios</a></li>
            </ul>
            </div>

            <!-- Columna 3 -->
            <div class="footer-links">
            <ul>
                <li><a href="restaurantes.html">Restaurantes</a></li>
                <li><a href="entretenimiento.html">Entretenimiento</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
            </div>

            <!-- Columna 4 -->
            <div class="footer-redes">
            <h3>Nuestras redes:</h3>
            <a href="https://www.facebook.com/"><img src="../../assets/image/facebook.png" alt="Facebook"> Facebook</a>
            <a href="https://www.instagram.com/explore/?hl=es-la"><img src="../../assets/image/instagram.png" alt="Instagram"> Instagram</a>
            <a href="https://www.tiktok.com/"><img src="../../assets/image/tiktok.png" alt="TikTok"> TikTok</a>
            </div>
        </div>

        <hr>

        <div class="footer-bottom">
            <p>&copy; 2025 Family Shop. Todos los derechos reservados.</p>
            <div class="footer-bottom-links">
            <a href="#">Política de Privacidad</a> |
            <a href="#">Términos y Condiciones</a> |
            <a href="#">Ayuda</a>
            </div>
        </div>
</footer>
</body>
</html>
